<div fxLayout="column" class="width90 margin0auto">
    <div fxLayout="column">
        <h1 class="mat-display-2 marginbot25 ">Mes Compétences</h1>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayout.lt-md="column">
            <div fxLayout="column" fxFlex="50%">
                <h1 class="mat-display-1 ">HardSkills</h1>
                <div fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="center start" fxLayout.lt-md="column"
                    class="marginbot6">
                    <div fxLayout="row" fxLayout="end center" class="width100">
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px">
                                <img class="width8" src="../../assets/image/angular.png" alt="angular_logo">
                            </div>
                            <h2 class="">Angular</h2>
                            <div class=""> Création / Utilisation de Composant</div>
                            <div class=""> Utilisation Material Angular</div>
                        </div>
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px">
                                <img class="width6" src="../../assets/image/js.png" alt="js_logo">
                            </div>
                            <h2 class="">JavaScript</h2>
                            <div class=""> Animation et intéraction dans un site web</div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout="end center" class="width100">
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px">
                                <img class="width6" src="../../assets/image/css.png" alt="css_logo">
                            </div>
                            <h2 class="">CSS</h2>
                            <div class="">Mise en forme d'un site web</div>
                        </div>
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px">
                                <img class="width10" src="../../assets/image/php.png" alt="php_logo">
                            </div>
                            <h2 class="">PHP</h2>
                            <div class=""> Communication avec base de données</div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50%">
                <h1 class="mat-display-1 ">SoftSkills</h1>
                <div fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="center start" fxLayout.lt-md="column"
                    class="marginbot6">
                    <div fxLayout="row" fxLayout="end center" class="width100">
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px marginbot13px">
                                <img class="width8" src="../../assets/image/049-idea.png" alt="creatif_logo">
                            </div>
                            <h2 class="">Créatif</h2>
                        </div>
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px  marginbot13px">
                                <img class="width8" src="../../assets/image/020-businessman-10.png" alt="autonome_logo">
                            </div>
                            <h2 class="">Autonome</h2>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout="end center" class="width100">
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px marginbot20px">
                                <img class="width8" src="../../assets/image/015-businessman-5.png" alt="prevoyant_logo">
                            </div>
                            <h2 class="">Prévoyant</h2>
                        </div>
                        <div class="width40" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                            <div class="height130px marginbot20px">
                                <img class="width8" src="../../assets/image/031-team.png" alt="sociable_logo">
                            </div>
                            <h2 class="">Sociable</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mat-display-2 marginbot25 "> Mes attentes</h1>
        <mat-divider></mat-divider>
        <h2 class="mat-display-1 "> Alternance</h2>
        <div fxLayout="row" fxLayoutGap="150px" fxLayoutAlign="center start" fxLayout.lt-md="column">
            <div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                <div class="height130px">
                    <img class="width6" src="../../assets/image/003-arrows.png" alt="stepup_logo">
                </div>
                <h2 class="width80 text-center ">Monter en compétences sur différentes technologies</h2>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                <div class="height130px">
                    <img class="width6" src="../../assets/image/036-teamwork.png" alt="teamwork_logo">
                </div>
                <h2 class=""> Echanger et travailler en équipe</h2>
            </div>
            <div class="marginbot6prct" fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="width100">
                <div class="height130px">
                    <img class="width6" src="../../assets/image/048-presentation.png" alt="presentation_logo">
                </div>
                <h2 class="">Présenter le projet aux clients</h2>
            </div>
        </div>
    </div>
</div>