<div fxLayout="row" fxLayoutGap="150px" fxLayoutAlign="center" fxLayout.lt-md="column" class=" width90 margin0auto">
    <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start" fxLayoutAlign.lt-md="start start"
            ngClass.lt-md="width100">
            <img class="width30px" src="../../assets/image/location.png" alt="location_logo">
            <h2 class="margin0" class="margin0">Nantes</h2>
        </div>
        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start" ngClass.lt-md="width100"
            fxLayoutAlign.lt-md="start start">
            <img class="width30px" src="../../assets/image/mail.png" alt="mail_logo">
            <h2 class="margin0">blessarnaud@gmail.com</h2>
        </div>
        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start" ngClass.lt-md="width100"
            fxLayoutAlign.lt-md="start start">
            <img class="width30px" src="../../assets/image/tel.png" alt="tel_logo">
            <h2 class="margin0">0610471312</h2>
        </div>
        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start" ngClass.lt-md="width100"
            fxLayoutAlign.lt-md="start start">
            <a href="https://www.linkedin.com/in/arnaud-blessing-76648b18b/"><img class="width30px"
                    src="../../assets/image/linkedin.png" alt="linkedin_logo"> </a>
            <h2 class="margin0">Retrouvez moi aussi en ligne sur LinkedIn</h2>
        </div>
    </div>
    <img ngClass.lt-md="width100" ngClass.gt-md="width50" src=" ../../assets/image/contact.svg" alt="contact_logo">
</div>