<div fxLayout="column" class="width90 margin0auto">
    <h1 class="mat-display-2 marginbot25 ">
        Charcutier / fromager
    </h1>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxFlex="100%" class="marginbot6">
        <div fxFlex="50%" fxShow fxHide.lt-md>
            <img class="width60" src="../../assets/image/caddie.svg" alt="caddie_logo">
        </div>
        <div fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
            <h2 class="mat-display-1 marginbot25 txt-primary">Pourquoi cette expérience ? </h2>
            <div class="marginbot6" ngClass.lt-md="width100" ngClass.gt-md="width70">
                J'ai travaillé en tant que Charcutier / Fromager dans un magasin Carrefour dans le but d'avoir une
                expérience
                professionnelle supplémentaire et pouvoir financer mes études. La clientèle était diverse.
            </div>
            <h2 class="mat-display-1 marginbot25 txt-primary">L'entreprise</h2>
            <div ngClass.lt-md="width100" ngClass.gt-md="width70">
                J'ai travaillé dans le magasin Carrefour Market de Remoulins dans le Gard. Carrefour prône
                les valeurs de l'écologie et de l'innovation. Le magasin est divisé en plusieurs pôle (produit
                frais,
                épicerie,
                boucherie ...).
                Ses concurrants sont divers et connus, ce sont des supermarché tel que Lidl, Auchan... D'ailleurs le
                principal
                concurrant du magasin dans lequel j'ai travaillé
                était un Lidl qui se trouvait à une rue de là.
                Face à ce concurrant, le principal atout du magasin sont les produits artisanaux.
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" class="marginbot6prct">
        <div ngClass.lt-md="width100" ngClass.gt-md="width50">
            <h2 class="mat-display-1 marginbot25 txt-primary">Mon rôle et mes missions</h2>
            <div class="marginbot25" ngClass.lt-md="width100" ngClass.gt-md="width70">
                J'ai intégrer le service Charcutier / Fromager tout au long de l'été 2019.
                <ul>
                    <li>Conseil et relation client, aider le client a choisir ce qui lui convient le mieux </li>
                    <li>Apprendre a utiliser une machine spécifique</li>
                    <li>s'assurer d'une hygiene intransigeante</li>
                    <li>respecter les chaines alimentaires</li>
                    <li>respecter les valeurs de l'entreprises dont l'écologie : tri sélectif, recyclage...</li>
                </ul>
            </div>
            <div ngClass.lt-md="width100 marginbot6" ngClass.gt-md="width70">
                La non réussite de mes missions aurait entraîné une mauvaise réputation pour l'entreprise ainsi que
                des
                problèmes
                sanitaire pour les clients.
            </div>
        </div>
        <div ngClass.lt-md="width100" ngClass.gt-md="width50">
            <h2 class="mat-display-1 marginbot25 txt-primary">Méthodologie de travail </h2>
            <div ngClass.lt-md="width100 marginbot6" ngClass.gt-md="width70">
                J'ai été formé par un tuteur tout au long de la première semaine afin de devenir autonome le plus
                rapidement
                possible.
                Chaque semaine, un planning était mis en place afin de pouvoir effectuer les tâches les plus importantes
                en
                fonction
                des jours (livraion..etc).
                Toute l'équipe réalisait les mêmes tâches excepté le chef de rayon qui s'occupait des stocks ainsi que
                la
                disponibilité des produits avec les différents fournisseurs.
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" class="marginbot6prct">
        <div fxLayout="column" ngClass.lt-md="width100" ngClass.gt-md="width50">
            <h2 class="mat-display-1 marginbot25 txt-primary">Difficultés</h2>
            <div ngClass.lt-md="width100 marginbot6" ngClass.gt-md="width70">
                J'ai du apprendre un métier que je ne conaissais pas et dont je n'avais pas eu de formation.
                Il a donc fallu apprendre les produits et les outils. De plus je n'avais jamais travaillé dans un
                métier
                nécesittant une relation client.
            </div>
        </div>
        <div fxLayout="column" ngClass.lt-md="width100" ngClass.gt-md="width50">
            <h2 class="mat-display-1 marginbot25 txt-primary">Avancement / SoftSkill</h2>
            <div ngClass.lt-md="width100" ngClass.gt-md="width70" fxLayout="row" fxLayout.lt-md="column"
                fxLayoutGap.lt-md="30px">
                <div fxFlex="33%" fxLayoutAlign="center center" fxLayout="column">
                    <img class="width6" src="../../assets/image/036-teamwork.png" alt="teamwork_logo">
                    <h2 class="">Travail d'équipe </h2>
                </div>
                <div fxFlex="33%" fxLayoutAlign=" center center" fxLayout="column">
                    <img class="width6" src="../../assets/image/044-teamwork-1.png" alt="relclient_logo">
                    <h2 class="">Relation client</h2>
                </div>
                <div fxFlex="33%" fxLayoutAlign=" center center" fxLayout="column">
                    <img class="width6" src="../../assets/image/020-businessman-10.png" alt="autonomie_logo">
                    <h2 class="">Autonomie</h2>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class=" border-radius20 marginbot6prct bg-primary">
        <h2 class="mat-display-1 marginbot25 txt-white margintop25px">Bilan</h2>
        <div class="  width70 marginbot25 txt-white">
            Grace à cette expérience, j'ai acquis des compétences professionnelle non négligeables.
            De plus, elle m'a permis de financer mes études d'informatiques. Mais aussi, des valeurs tel que
            l'écologie
            qui me
            sont utile aujourd'hui
            pour m'intéresser a l'informatique écologique. Aujourd'hui je souhaite intégrer une agence web en
            alternance
            tout en
            réalisant une veille technologique sur le bon digital.
        </div>
    </div>
</div>