<div fxLayoutAlign="center center" class=" width90 margin0auto">
    <img class="height100" src="../../assets/image/home.png" alt="home" fxShow fxHide.lt-md>
    <div>
        <div fxLayout="column" class="texthome" fxLayoutAlign="center center">
            <h1 ngClass.lt-md="txt-size80" class="  mat-display-4 txt-size100 width100 ">
                Arnaud Blessing
            </h1>
            <mat-divider fxShow.lt-md fxHide></mat-divider>
            <h1 class=" marginbot">
                J'ai actuellement 22 ans et je suis à la recherche d'une alternance dans le domaine du développement
                informatique (fullstack)
            </h1>
            <a href="../../assets/BLESSING_Arnaud.pdf" target='_blank'><button mat-raised-button color="accent">Mon CV
                </button></a>
        </div>
    </div>
</div>