<div id="home" class="height100">
    <mat-tab-group class="height100" mat-align-tabs="center" animationDuration="1000ms">
        <mat-tab label="A propos">
            <app-a-propos fxLayoutAlign="center center"></app-a-propos>
        </mat-tab>
        <mat-tab label="Mes compétences / attentes">
            <app-attentes>
            </app-attentes>
        </mat-tab>
        <mat-tab label="Mes expériences professionnelles">
            <app-expe-pro></app-expe-pro>
        </mat-tab>
        <mat-tab label="Contact">
            <app-contact></app-contact>
        </mat-tab>
    </mat-tab-group>
</div>